.aboutUs {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
}

/* About Us Card */

.presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  perspective: 800px;
  width: 90%; 
  max-width: 1500px; 
  margin: 0 auto; 
  margin-bottom: 20px;
  position: relative;
  
}
  
.text {
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    text-align: center;
    margin: 3% 15% 3% 15%;
}
  
.presentation:hover .text {
    transform: rotateY(180deg);
}
  
.text-english,
.text-spanish {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: none;
    border-radius: 0.9rem;
    color: var(--light)
}
  
.text-english {
    background-color: var(--main);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(0deg);
    
}
  
.text-spanish {
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    
}

@media (max-width: 568px) {
    .text-english,
    .text-spanish {
        font-size: 11px; 
    }
}

.img1 {
    display: block;
    width: 50%;
    margin: auto;
    margin-bottom: 2%;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}